@page
@model ECom.Web.Areas.Customer.Pages.Basket.SuccessModel

@{
    ViewData["Title"] = "Checkout Complete";
}
<section class="breadcrumb-section set-bg" data-setbg="/img/product/details/iphone13promax/apple-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Order Success!</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container">
    <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
            <a asp-area="" asp-page="/Index" class="primary-btn cart-btn">Tiếp tục mua sắm</a>
        </div>
    </div>
</div>