@page
@model ECom.Web.Areas.Customer.Pages.Basket.SuccessModel

@{
    ViewData["Title"] = "Checkout Complete";
}

<div class="container">
    <h1>Order Success</h1>
    
    <a asp-area="" asp-page="/Index">Continue Shopping</a>
</div>