@model ECom.Models.Manufacture

@{
    Layout = "/Areas/Management/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Delete";
}

<section class="breadcrumb-section set-bg" data-setbg="/img/product/details/iphone13promax/apple-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

<br/>

<section class="checkout spad">
<div class="row">
    <div class="container">
        <div class="checkout__form">
        <h4>Are you sure you want to delete this?</h4>
         <div class="checkout__input">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    </div>
    <div class="checkout__input">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
    </div>
</div>
</div>
</div>
</section>
@*<h3></h3>
<partial name="_StatusMessage" for="StatusMessage" />
<section class="checkout spad">
<div class="row">
    <div class="container">
        <div class="checkout__form">
        <h4>Thay đổi mật khẩu</h4>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="checkout__input">
            <div class="form-floating">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            </div>
            <div class="checkout__input">
            <div class="form-floating">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            </div>
            <div class="checkout__input">
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            </div>
            <div class="checkout__input">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
            </div>
        </form>
    </div>
    </div>
</div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@