@model ECom.Models.Manufacture

@{
    Layout = "/Areas/Management/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Edit Manufacture";
}

<section class="breadcrumb-section set-bg" data-setbg="/img/product/details/iphone13promax/apple-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

<br/>

<hr />
<div class="row">
        <div class="container">
        <div class="checkout__form">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="checkout__input">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            </div>
            <div class="checkout__input">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </div>
            <div class="checkout__input">
                <a asp-action="Index">Back to List</a>
                </div>
        </form>
        </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

